<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>{% block title %}Sample Client-Server Extract App{% endblock %}</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h2>Menu</h2>
    <div>
      <a href="{{ url_for('index') }}">Home</a>
      <a href="{{ url_for('add_instructions') }}">Add Data Extract Job</a>
      <a href="{{ url_for('list_files') }}">View Files</a>
    </div>
    {% block content %}
    {% endblock %}
  </body>
</html>